h1 {
    font-family: "Homemade Apple", cursive;
} 


.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div {
    background-color: beige;
}

h1 {
    background-color: rgb(254, 254, 255);
}

body {
    background-color: beige;
}